/* Adaptivity */
.menu-products-cards {
  --card-width-min: 300;
  --card-width-max: 383;

  --card-width: calc(
    var(--card-width-min) * 1px +
      (var(--card-width-max) - var(--card-width-min)) * (100vw - 480px) /
      (1920 - 480)
  );

  --card-width-restricted: calc(
    max(
      var(--card-width-min) * 1px,
      min(var(--card-width), var(--card-width-max) * 1px)
    )
  );
}

.menu-products-text {
  font-family: "Roboto-Black";
  --text-min: 24;
  --text-max: 48;

  --text-size: calc(
    var(--text-min) * 1px + (var(--text-max) - var(--text-min)) *
      (100vw - 480px) / (1920 - 480)
  );

  font-size: calc(
    max(var(--text-min) * 1px, min(var(--text-size), var(--text-max) * 1px))
  );
}

.menu-products-card-text-name {
  font-family: "Roboto-Regular";
  --text-min: 16;
  --text-max: 20;

  --text-size: calc(
    var(--text-min) * 1px + (var(--text-max) - var(--text-min)) *
      (100vw - 480px) / (1920 - 480)
  );

  font-size: calc(
    max(var(--text-min) * 1px, min(var(--text-size), var(--text-max) * 1px))
  );
}


/* End adaptivity */

.menu-products {
  display: flex;
  flex-direction: column;

  gap: 30px;

  color: black;
  text-align: center;
}

.menu-products-text {
  padding-top: 0.5em;
}

.menu-products-cards {
  width: 100%;

  --card-padding: 20px;
    --card-width-padding: calc(
    var(--card-width-restricted) + var(--card-padding) * 2
  );

  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(var(--card-width-padding), 1fr)
  );

  gap: 20px;
}

.menu-products-card-container {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.menu-products-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 15px;

  background-color: rgb(255, 189, 96);;

  width: var(--card-width-padding);
}

.menu-products-card img {
  width: 100%;
  object-fit: cover;
  height: 50%;
  border-radius: 15px 15px 0px 0px;
  -webkit-border-radius: 15px 15px 0px 0px;
  -moz-border-radius: 15px 15px 0px 0px;
  -ms-border-radius: 15px 15px 0px 0px;
  -o-border-radius: 15px 15px 0px 0px;
}

.item-title {
  padding-top: 5px;
  color: black;
  text-decoration: none;
}

